*{
    margin: 0;
    padding: 0;
    font-size: 19px;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    color: #000000;
    margin: 0;
    padding: 0 20px;
    height: 100vh;
}

.terminal {
    background-color: #fff;
    padding: 0 20px;
    width: 1500px;
    max-width: 100%;
}

.input-line {
    display: flex;
    align-items: start;    
}

.input-line span {
    margin-right: 10px;
}

.input-line-early {
    display: flex;
    align-items: start;
}

.input-line-early span {
    margin-right: 10px;
}

.input {
    background: transparent;
    border: none;
    color: #000000;
    font-family: inherit;
    font-size: inherit;
    width: 100%;
    outline: none;
}

.input::placeholder {
    color: #000000;
}


